@import 'normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}


.App-logo {
  margin-top: 10px;
  height: 5vmax;
  pointer-events: none;
}
.flex {
  display: flex;

}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.App-header {
  background-color: #234d97;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
